*{
    margin: 0;
    padding: 0;
}

#glavni{
    width: auto;
    height: auto;
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

p{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

button{
    width: 200px;
    height: 70px;
}


.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }

body{
    overflow: hidden;
}
    
#gumbi{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#play{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#play:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}
#play:active {
	position:relative;
	top:1px;
}

#nextlevel{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:none;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#nextlevel:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

#nextlevel:active {
	position:relative;
	top:1px;
}

#goback{
    box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:none;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

#goback:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

#goback:active {
	position:relative;
	top:1px;
}

#typewriter h1 {
    display: block;
    color: black;
    font-family: monospace;
    font-size: 40px;
    overflow: hidden; 
    border-right: .10em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .10em; 
    animation: 
      typing 2.5s steps(9, end),
      blink-caret .5s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

